In [64]:
import numpy as np
import pandas as pd
import datetime
import os

# 1. Dataset conversion

In [65]:
dynamic = pd.read_csv('./sph_dynamic.csv')
static = pd.read_csv('./sph_static.csv')

Merge the `dynamic` and `static` dataset based on the `stay_id`

In [66]:
merge_2 = pd.merge(dynamic, static, on = 'stay_id')

Formatting columns and vent_start datetime format

In [67]:
merge_2.drop(['vent_end'], axis = 1, inplace=True)

merge_2['charttime'] = pd.to_datetime(merge_2['charttime'], format = "%Y-%m-%d %H:%M:%S.%f")
merge_2['icu_intime'] = pd.to_datetime(merge_2['icu_intime'], format = "%Y-%m-%d %H:%M:%S.%f")
for i in range(len(merge_2)):
        if pd.Timestamp(merge_2.loc[i, 'vent_start']).replace(year = merge_2.loc[i, 'icu_intime'].year) - merge_2.loc[i, 'icu_intime'] < datetime.timedelta(seconds=0):
            merge_2.loc[i, 'vent_start'] = pd.to_datetime(merge_2.loc[i, 'vent_start'], format='%m/%d/%y %H:%M')
            i_datetime = merge_2.loc[i, 'icu_intime']
            i_year = i_datetime.year
            i_month = i_datetime.month
            i_day = i_datetime.day
            i_hour = i_datetime.hour
            i_minute = i_datetime.minute
            i_second = i_datetime.second
            merge_2.loc[i, 'vent_start'] = merge_2.loc[i, 'vent_start'].replace(year = i_year, 
                                                                                   month = i_month, 
                                                                                   day = i_day, 
                                                                                   hour = i_hour, 
                                                                                   minute = i_minute, 
                                                                                   second = i_second)   
        else:
            merge_2.loc[i, 'vent_start'] = pd.Timestamp(merge_2.loc[i, 'vent_start']).replace(year = merge_2.loc[i, 'icu_intime'].year)
merge_2['vent_start'] = pd.to_datetime(merge_2['vent_start'], format = "%Y-%m-%d %H:%M:%S.%f")

Drop > patients intubated outside +48h icu_intime

In [68]:
# Remove the chart data that is done after 12h in ICU
#merge_2 = merge_2[(merge_2['charttime'] - merge_2['icu_intime']).dt.total_seconds() <= 43200]  

# Remove the records of the patient that is intubated after 48h in ICU
merge_2 = merge_2[(merge_2['vent_start'] - merge_2['icu_intime']).dt.total_seconds() <= 172800]

# Specific case: Last year of the day
#merge_2 = merge_2[(merge_2['vent_start'] - merge_2['icu_intime']).dt.total_seconds() >= 0]

Comvert timestamps to timedelta

In [69]:
merge_2['charttime'] = pd.to_datetime(merge_2['charttime']) - pd.to_datetime(merge_2['icu_intime'])
merge_2['charttime'] = merge_2['charttime'].dt.total_seconds() / 3600

merge_2['vent_start'] = pd.to_datetime(merge_2['vent_start']) - pd.to_datetime(merge_2['icu_intime'])
merge_2['vent_start'] = merge_2['vent_start'].dt.total_seconds() / 3600

merge_2['icu_intime'] = pd.to_datetime(merge_2['icu_intime']) - pd.to_datetime(merge_2['icu_intime'])
merge_2['icu_intime'] = merge_2['icu_intime'].dt.total_seconds() / 3600

In [70]:
merge_2 = merge_2.sort_values(['stay_id', 'charttime']) 
merge_2

,stay_id,charttime,total_protein,calcium,creatinine,glucose,sodium,chloride,heart_rate,sbp,...,urineoutput,sofa_respiration,sofa_coagulation,sofa_liver,sofa_cardiovascular,sofa_cns,sofa_renal,icu_intime,vent_start,vent_duration
6204,30004144,-3.840278,NaN,8.0,0.7,114.0,135.0,103.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.659722,25.000000
6203,30004144,-0.240278,NaN,6.8,0.7,133.0,135.0,102.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.659722,25.000000
6991,30005366,8.550278,NaN,8.8,6.7,41.0,139.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,20.383611,6.000000
2701,30006983,-14.611667,NaN,8.0,0.8,156.0,132.0,102.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14.055000,49.000000
2700,30006983,0.521667,NaN,7.1,1.0,89.0,136.0,108.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14.055000,49.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,39985110,6.653889,NaN,10.4,6.8,149.0,139.0,98.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38.770556,31.266667
5933,39986206,0.508056,NaN,7.6,5.6,121.0,139.0,103.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,22.574722,222.000000
5932,39986206,6.924722,NaN,7.5,6.0,101.0,139.0,103.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,22.574722,222.000000
4182,39992167,2.200000,NaN,7.9,0.9,113.0,131.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,22.000000,84.000000
4181,39992167,6.016667,NaN,7.5,0.8,136.0,128.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,22.000000,84.000000

In [71]:
merge_2.to_csv('merge2.csv', index=False)

# 2. Drop high missing

In [72]:
missing_lst = []

for column in merge_2.columns:
    missing_lst.append(( column, (merge_2[column].isna().sum() / merge_2.shape[0]) ))

missing_sorted = sorted(missing_lst, key = lambda lst: lst[1])

print()
print('Missing rate of each column:')
print()
for i in missing_sorted:
    print(i[0] + ' ' + '{:.2%}'.format(i[1]))

print()
print('Dropped columns:')
print()

dropped_merge = merge_2
for i in missing_sorted:
    if i[1] > 0.4:
        dropped_merge = dropped_merge.drop(i[0], axis = 1)
        print('Drop', i[0])

        
dropped_merge_missing_lst = []   
print()
print('Remaining columns:')
print()
for i in dropped_merge:
    for j in missing_sorted:
        if i in j[0]:
            dropped_merge_missing_lst.append((j[0], j[1]))

dropped_merge_missing_lst = sorted(dropped_merge_missing_lst, key = lambda lst: lst[1])
for i in dropped_merge_missing_lst:
    print(i[0] + ' ' + '{:.2%}'.format(i[1]))
    
dropped_merge.columns

Missing rate of each column:

stay_id 0.00%
charttime 0.00%
icu_intime 0.00%
vent_start 0.00%
vent_duration 0.00%
sodium 3.01%
chloride 3.32%
creatinine 3.47%
glucose 5.81%
calcium 12.99%
hemoglobin 16.41%
wbc 16.75%
pt 43.62%
ast 56.61%
alt 56.98%
bilirubin_total 56.98%
alp 57.19%
bilirubin_direct 96.91%
bilirubin_indirect 96.96%
resp_rate 97.15%
heart_rate 97.17%
sofa_cardiovascular 97.77%
mbp 97.93%
sbp 98.05%
dbp 98.05%
total_protein 98.60%
urineoutput 98.81%
temperature 99.27%
sofa_cns 99.30%
ph 99.69%
sofa_respiration 99.77%
lactate 99.82%
sofa_coagulation 99.98%
sofa_liver 99.98%
sofa_renal 100.00%

Dropped columns:

Drop pt
Drop ast
Drop alt
Drop bilirubin_total
Drop alp
Drop bilirubin_direct
Drop bilirubin_indirect
Drop resp_rate
Drop heart_rate
Drop sofa_cardiovascular
Drop mbp
Drop sbp
Drop dbp
Drop total_protein
Drop urineoutput
Drop temperature
Drop sofa_cns
Drop ph
Drop sofa_respiration
Drop lactate
Drop sofa_coagulation
Drop sofa_liver
Drop sofa_renal

Remaining columns:

stay_id 0.00%
charttime 0.00%
icu_intime 0.00%
vent_start 0.00%
vent_duration 0.00%
sodium 3.01%
chloride 3.32%
creatinine 3.47%
glucose 5.81%
calcium 12.99%
hemoglobin 16.41%
wbc 16.75%

Index(['stay_id', 'charttime', 'calcium', 'creatinine', 'glucose', 'sodium',
       'chloride', 'hemoglobin', 'wbc', 'icu_intime', 'vent_start',
       'vent_duration'],
      dtype='object')

# 3.A keep vent_duration 90th percentile

In [84]:
'{:.4f}'.format(dropped_merge['vent_duration'].quantile(0.9))

'104.1333'

In [85]:
working_vent_dur_90_all = dropped_merge.loc[dropped_merge['vent_duration'] < 104.1333]
working_vent_dur_90_all.to_csv('working_vent_dur_90_all.csv', index = False)

In [ ]:
from ydata_profiling import ProfileReport

profile_working_vent_dur_90_all = ProfileReport(working_vent_dur_90_all, title="working_vent_dur_90_all Profiling Report")

profile_working_vent_dur_90_all.to_notebook_iframe()

In [ ]:
profile_working_vent_dur_90_all.to_file('working_vent_dur_90_all.html')

## 3.A.1 Train:Test split then Median Impute then  Min Max Scaling

In [88]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# Median impute function based on scikit package
def imputeMedian(dataframe):
    df = dataframe.values
    imp_median = SimpleImputer(missing_values = np.nan, strategy='median')
    df = imp_median.fit_transform(df)
    # put back the column label
    df = pd.DataFrame(df, columns = list(dataframe.columns))
    return df

# Min Max scaling function based on scikit package
def minMaxScale(dataframe, lst):
    scaler = MinMaxScaler()
    df = dataframe.copy(deep=True)
    for i in lst:
        df[i] = scaler.fit_transform(df[i].values.reshape(-1, 1))
    return pd.DataFrame(df)

In [89]:
# Get all unique values of column A as a list
unique_values = working_vent_dur_90_all['stay_id'].unique().tolist()

# Set the random seed for reproducibility
np.random.seed(42)

# Randomly split 70% of the unique values into a train list and the remaining 30% into a test list
train_size = int(0.7 * len(unique_values))
train = np.random.choice(unique_values, size=train_size, replace=False).tolist()
test = [value for value in unique_values if value not in train]

# Split the DataFrame into train and test DataFrames based on the values of stay_id
train_90_df = working_vent_dur_90_all[working_vent_dur_90_all['stay_id'].isin(train)].reset_index(drop = True).sort_values(['stay_id', 'charttime'])
test_90_df = working_vent_dur_90_all[working_vent_dur_90_all['stay_id'].isin(test)].reset_index(drop = True).sort_values(['stay_id', 'charttime'])
X_test = test_90_df.loc[:, ~test_90_df.columns.isin(['stay_id','icu_intime', 'vent_duration'])]


# Median impute for train. Median impute for test
train_90_df = imputeMedian(train_90_df)
test_90_df = imputeMedian(test_90_df)


# Min Max scaling for train. Min Max scaling for test


train_90_df_scale = minMaxScale(train_90_df, ['charttime', 'calcium', 
                                              'creatinine', 'glucose', 
                                              'sodium','chloride', 
                                              'hemoglobin', 'wbc', 
                                              'icu_intime', 'vent_start',
                                              'vent_duration'])

test_90_df_scale = minMaxScale(test_90_df,  ['charttime', 'calcium', 
                                              'creatinine', 'glucose', 
                                              'sodium','chloride', 
                                              'hemoglobin', 'wbc', 
                                              'icu_intime', 'vent_start',
                                              'vent_duration'])

print('Train_90 DataFrame:')
print(train_90_df)
print()
print('Train_90 Min Max scaled DataFrame:')
print(train_90_df_scale)
print()

print('Test_90 DataFrame:')
print(test_90_df)
print()
print('Test_90 Min Max scaled DataFrame:')
print(test_90_df_scale)

Train_90 DataFrame:
         stay_id  charttime  calcium  creatinine  glucose  sodium  chloride  \
0     30004144.0  -3.840278      8.0         0.7    114.0   135.0     103.0
1     30004144.0  -0.240278      6.8         0.7    133.0   135.0     102.0
2     30006983.0 -14.611667      8.0         0.8    156.0   132.0     102.0
3     30006983.0   0.521667      7.1         1.0     89.0   136.0     108.0
4     30023204.0   0.518056      8.2         1.6    124.0   130.0     100.0
...          ...        ...      ...         ...      ...     ...       ...
3618  39972274.0  -8.366667      9.3         0.9     89.0   140.0     106.0
3619  39972274.0   4.600000      9.0         0.7     74.0   140.0     108.0
3620  39985110.0 -11.296111     10.2         5.2    125.0   138.0      98.0
3621  39985110.0  -8.379444     10.1         5.6    126.0   138.0      98.0
3622  39985110.0   6.653889     10.4         6.8    149.0   139.0      98.0

      hemoglobin   wbc  icu_intime  vent_start  vent_duration
0           13.0   5.1         0.0   26.659722      25.000000
1           11.8   4.8         0.0   26.659722      25.000000
2           10.1   8.2         0.0   14.055000      49.000000
3            9.9   9.5         0.0   14.055000      49.000000
4            8.3  27.0         0.0   47.268056      24.166667
...          ...   ...         ...         ...            ...
3618        12.2   5.5         0.0   15.316667      18.150000
3619        12.6   4.0         0.0   15.316667      18.150000
3620        12.0   7.3         0.0   38.770556      31.266667
3621        12.2   7.5         0.0   38.770556      31.266667
3622        12.6  10.3         0.0   38.770556      31.266667

[3623 rows x 12 columns]

Train_90 Min Max scaled DataFrame:
         stay_id  charttime   calcium  creatinine   glucose    sodium  \
0     30004144.0   0.995412  0.469136    0.030928  0.039216  0.675325
1     30004144.0   0.996455  0.320988    0.030928  0.048086  0.675325
2     30006983.0   0.992292  0.469136    0.036082  0.058824  0.636364
3     30006983.0   0.996676  0.358025    0.046392  0.027544  0.688312
4     30023204.0   0.996675  0.493827    0.077320  0.043884  0.610390
...          ...        ...       ...         ...       ...       ...
3618  39972274.0   0.994101  0.629630    0.041237  0.027544  0.740260
3619  39972274.0   0.997857  0.592593    0.030928  0.020542  0.740260
3620  39985110.0   0.993253  0.740741    0.262887  0.044351  0.714286
3621  39985110.0   0.994098  0.728395    0.283505  0.044818  0.714286
3622  39985110.0   0.998452  0.765432    0.345361  0.055556  0.727273

      chloride  hemoglobin       wbc  icu_intime  vent_start  vent_duration
0     0.630769    0.664234  0.039968         0.0    0.555993       0.240263
1     0.615385    0.576642  0.037570         0.0    0.555993       0.240263
2     0.615385    0.452555  0.064748         0.0    0.293120       0.471069
3     0.707692    0.437956  0.075140         0.0    0.293120       0.471069
4     0.584615    0.321168  0.215028         0.0    0.985784       0.232249
...        ...         ...       ...         ...         ...            ...
3618  0.676923    0.605839  0.043165         0.0    0.319432       0.174387
3619  0.707692    0.635036  0.031175         0.0    0.319432       0.174387
3620  0.553846    0.591241  0.057554         0.0    0.808567       0.300529
3621  0.553846    0.605839  0.059153         0.0    0.808567       0.300529
3622  0.553846    0.635036  0.081535         0.0    0.808567       0.300529

[3623 rows x 12 columns]

Test_90 DataFrame:
         stay_id   charttime  calcium  creatinine  glucose  sodium  chloride  \
0     30005366.0    8.550278      8.8         6.7     41.0   139.0     100.0
1     30034749.0 -131.777778      9.9         0.8    166.0   140.0     100.0
2     30034749.0 -122.194444      8.4         0.8    125.0   143.0     100.0
3     30034749.0  -98.694444     10.0         0.8    141.0   139.0      97.0
4     30034749.0  -88.444444     10.3         0.7    157.0   138.0      98.0
...          ...         ...      ...         ...      ...     ...       ...
1872  39977971.0    1.220833      8.5         2.1    202.0   129.0      96.0
1873  39977971.0    9.537500      8.9         2.2     98.0   132.0      97.0
1874  39982332.0    1.182222      8.4         1.2    119.0   140.0     103.0
1875  39992167.0    2.200000      7.9         0.9    113.0   131.0     100.0
1876  39992167.0    6.016667      7.5         0.8    136.0   128.0     100.0

      hemoglobin   wbc  icu_intime  vent_start  vent_duration
0           9.20   9.4         0.0   20.383611           6.00
1           9.65   9.3         0.0   26.522222          20.45
2          14.90   5.8         0.0   26.522222          20.45
3           9.65   9.3         0.0   26.522222          20.45
4           9.65   9.3         0.0   26.522222          20.45
...          ...   ...         ...         ...            ...
1872       12.40  10.3         0.0   18.287500           4.00
1873       11.30   9.8         0.0   18.287500           4.00
1874       11.50   4.7         0.0   20.415556          13.00
1875        6.80   6.0         0.0   22.000000          84.00
1876        6.80   4.6         0.0   22.000000          84.00

[1877 rows x 12 columns]

Test_90 Min Max scaled DataFrame:
         stay_id  charttime   calcium  creatinine   glucose    sodium  \
0     30005366.0   0.999044  0.507042    0.336735  0.000000  0.525773
1     30034749.0   0.960164  0.661972    0.035714  0.042677  0.536082
2     30034749.0   0.962819  0.450704    0.035714  0.028679  0.567010
3     30034749.0   0.969330  0.676056    0.035714  0.034141  0.525773
4     30034749.0   0.972170  0.718310    0.030612  0.039604  0.515464
...          ...        ...       ...         ...       ...       ...
1872  39977971.0   0.997013  0.464789    0.102041  0.054968  0.422680
1873  39977971.0   0.999318  0.521127    0.107143  0.019461  0.453608
1874  39982332.0   0.997003  0.450704    0.056122  0.026630  0.536082
1875  39992167.0   0.997285  0.380282    0.040816  0.024582  0.443299
1876  39992167.0   0.998342  0.323944    0.035714  0.032434  0.412371

      chloride  hemoglobin       wbc  icu_intime  vent_start  vent_duration
0     0.368421    0.364286  0.097382         0.0    0.232794       0.057390
1     0.368421    0.396429  0.096335         0.0    0.403515       0.196377
2     0.368421    0.771429  0.059686         0.0    0.403515       0.196377
3     0.328947    0.396429  0.096335         0.0    0.403515       0.196377
4     0.342105    0.396429  0.096335         0.0    0.403515       0.196377
...        ...         ...       ...         ...         ...            ...
1872  0.315789    0.592857  0.106806         0.0    0.174499       0.038153
1873  0.328947    0.514286  0.101571         0.0    0.174499       0.038153
1874  0.407895    0.528571  0.048168         0.0    0.233682       0.124719
1875  0.368421    0.192857  0.061780         0.0    0.277747       0.807631
1876  0.368421    0.192857  0.047120         0.0    0.277747       0.807631

[1877 rows x 12 columns]

In [90]:
train_90_df.to_csv('train_90_df.csv')
train_90_df_scale.to_csv('train_90_df_scale.csv')
test_90_df.to_csv('test_90_df.csv')
test_90_df_scale.to_csv('test_90_df_scaled.csv')

In [ ]:
from ydata_profiling import ProfileReport

profile_train_90_df = ProfileReport(train_90_df, title="train_90_df Profiling Report")
profile_train_90_df.to_notebook_iframe()

In [ ]:
profile_train_90_df.to_file('profile_train_90_df.html')

In [ ]:
profile_train_90_df_scale = ProfileReport(train_90_df_scale, title="train_90_df_scale Profiling Report")
profile_train_90_df_scale.to_notebook_iframe()

In [ ]:
profile_train_90_df_scale.to_file('profile_train_90_df_scale.html')

In [ ]:
profile_test_90_df = ProfileReport(test_90_df, title="test_90_df Profiling Report")
profile_test_90_df.to_notebook_iframe()

In [ ]:
profile_test_90_df.to_file('profile_test_90_df.html')

In [ ]:
profile_test_90_df_scale = ProfileReport(test_90_df_scale, title="test_90_df_scale Profiling Report")
profile_test_90_df_scale.to_notebook_iframe()

In [ ]:
profile_test_90_df_scale.to_file('profile_test_90_df_scale.html')

# 3.B vent_duration 100th percentile

## 3.B.1 Train:Test split then Median Impute then  Min Max Scaling

In [73]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# Median impute function based on scikit package
def imputeMedian(dataframe):
    df = dataframe.values
    imp_median = SimpleImputer(missing_values = np.nan, strategy='median')
    df = imp_median.fit_transform(df)
    # put back the column label
    df = pd.DataFrame(df, columns = list(dataframe.columns))
    return df

# Min Max scaling function based on scikit package
def minMaxScale(dataframe, lst):
    scaler = MinMaxScaler()
    df = dataframe.copy(deep=True)
    for i in lst:
        df[i] = scaler.fit_transform(df[i].values.reshape(-1, 1))
    return pd.DataFrame(df)

In [74]:
# Get all unique values of column A as a list
unique_values = dropped_merge['stay_id'].unique().tolist()

# Set the random seed for reproducibility
np.random.seed(42)

# Randomly split 70% of the unique values into a train list and the remaining 30% into a test list
train_size = int(0.7 * len(unique_values))
train = np.random.choice(unique_values, size=train_size, replace=False).tolist()
test = [value for value in unique_values if value not in train]

# Split the DataFrame into train and test DataFrames based on the values of stay_id
train_100_df = dropped_merge[dropped_merge['stay_id'].isin(train)].reset_index(drop = True).sort_values(['stay_id', 'charttime'])
test_100_df = dropped_merge[dropped_merge['stay_id'].isin(test)].reset_index(drop = True).sort_values(['stay_id', 'charttime'])
X_test = test_100_df.loc[:, ~test_100_df.columns.isin(['stay_id','icu_intime', 'vent_duration'])]


# Median impute for train. Median impute for test
train_100_df = imputeMedian(train_100_df)
test_100_df = imputeMedian(test_100_df)


# Min Max scaling for train. Min Max scaling for test


train_100_df_scale = minMaxScale(train_100_df, ['charttime', 'calcium', 
                                              'creatinine', 'glucose', 
                                              'sodium','chloride', 
                                              'hemoglobin', 'wbc', 
                                              'icu_intime', 'vent_start',
                                              'vent_duration'])

test_100_df_scale = minMaxScale(test_100_df,  ['charttime', 'calcium', 
                                              'creatinine', 'glucose', 
                                              'sodium','chloride', 
                                              'hemoglobin', 'wbc', 
                                              'icu_intime', 'vent_start',
                                              'vent_duration'])

print('Train_100 DataFrame:')
print(train_100_df)
print()
print('Train_100 Min Max scaled DataFrame:')
print(train_100_df_scale)
print()

print('Test_100 DataFrame:')
print(test_100_df)
print()
print('Test_100 Min Max scaled DataFrame:')
print(test_100_df_scale)

Train_100 DataFrame:
         stay_id  charttime  calcium  creatinine  glucose  sodium  chloride  \
0     30004144.0  -3.840278      8.0         0.7    114.0   135.0     103.0
1     30004144.0  -0.240278      6.8         0.7    133.0   135.0     102.0
2     30006983.0 -14.611667      8.0         0.8    156.0   132.0     102.0
3     30006983.0   0.521667      7.1         1.0     89.0   136.0     108.0
4     30023204.0   0.518056      8.2         1.6    124.0   130.0     100.0
...          ...        ...      ...         ...      ...     ...       ...
4394  39972274.0   4.600000      9.0         0.7     74.0   140.0     108.0
4395  39977971.0 -10.712500      9.0         1.9     96.0   134.0      98.0
4396  39977971.0  -5.129167      8.4         1.1    123.0   138.0     102.0
4397  39977971.0   1.220833      8.5         2.1    202.0   129.0      96.0
4398  39977971.0   9.537500      8.9         2.2     98.0   132.0      97.0

      hemoglobin   wbc  icu_intime  vent_start  vent_duration
0           13.0   5.1         0.0   26.659722      25.000000
1           11.8   4.8         0.0   26.659722      25.000000
2           10.1   8.2         0.0   14.055000      49.000000
3            9.7   9.7         0.0   14.055000      49.000000
4            8.3  27.0         0.0   47.268056      24.166667
...          ...   ...         ...         ...            ...
4394        12.6   4.0         0.0   15.316667      18.150000
4395        11.0   6.1         0.0   18.287500       4.000000
4396         9.7   9.7         0.0   18.287500       4.000000
4397        12.4  10.3         0.0   18.287500       4.000000
4398        11.3   9.8         0.0   18.287500       4.000000

[4399 rows x 12 columns]

Train_100 Min Max scaled DataFrame:
         stay_id  charttime  calcium  creatinine   glucose    sodium  \
0     30004144.0   0.995412   0.4625    0.030612  0.028571  0.509804
1     30004144.0   0.996455   0.3125    0.030612  0.035034  0.509804
2     30006983.0   0.992292   0.4625    0.035714  0.042857  0.480392
3     30006983.0   0.996675   0.3500    0.045918  0.020068  0.519608
4     30023204.0   0.996674   0.4875    0.076531  0.031973  0.460784
...          ...        ...      ...         ...       ...       ...
4394  39972274.0   0.997857   0.5875    0.030612  0.014966  0.558824
4395  39977971.0   0.993421   0.5875    0.091837  0.022449  0.500000
4396  39977971.0   0.995039   0.5125    0.051020  0.031633  0.539216
4397  39977971.0   0.996878   0.5250    0.102041  0.058503  0.450980
4398  39977971.0   0.999287   0.5750    0.107143  0.023129  0.480392

      chloride  hemoglobin       wbc  icu_intime  vent_start  vent_duration
0     0.450549    0.631944  0.039968         0.0    0.555758       0.041353
1     0.439560    0.548611  0.037570         0.0    0.555758       0.041353
2     0.439560    0.430556  0.064748         0.0    0.292996       0.081078
3     0.505495    0.402778  0.076739         0.0    0.292996       0.081078
4     0.417582    0.305556  0.215028         0.0    0.985367       0.039974
...        ...         ...       ...         ...         ...            ...
4394  0.505495    0.604167  0.031175         0.0    0.319297       0.030015
4395  0.395604    0.493056  0.047962         0.0    0.381228       0.006593
4396  0.439560    0.402778  0.076739         0.0    0.381228       0.006593
4397  0.373626    0.590278  0.081535         0.0    0.381228       0.006593
4398  0.384615    0.513889  0.077538         0.0    0.381228       0.006593

[4399 rows x 12 columns]

Test_100 DataFrame:
         stay_id   charttime  calcium  creatinine  glucose  sodium  chloride  \
0     30005366.0    8.550278      8.8         6.7     41.0   139.0     100.0
1     30034749.0 -131.777778      9.9         0.8    166.0   140.0     100.0
2     30034749.0 -122.194444      8.4         0.8    127.0   143.0     100.0
3     30034749.0  -98.694444     10.0         0.8    141.0   139.0      97.0
4     30034749.0  -88.444444     10.3         0.7    157.0   138.0      98.0
...          ...         ...      ...         ...      ...     ...       ...
1740  39985110.0    6.653889     10.4         6.8    149.0   139.0      98.0
1741  39986206.0    0.508056      7.6         5.6    121.0   139.0     103.0
1742  39986206.0    6.924722      7.5         6.0    101.0   139.0     103.0
1743  39992167.0    2.200000      7.9         0.9    113.0   131.0     100.0
1744  39992167.0    6.016667      7.5         0.8    136.0   128.0     100.0

      hemoglobin   wbc  icu_intime  vent_start  vent_duration
0            9.2   9.4         0.0   20.383611       6.000000
1           10.0   8.8         0.0   26.522222      20.450000
2           14.9   5.8         0.0   26.522222      20.450000
3           10.0   8.8         0.0   26.522222      20.450000
4           10.0   8.8         0.0   26.522222      20.450000
...          ...   ...         ...         ...            ...
1740        12.6  10.3         0.0   38.770556      31.266667
1741        10.0  19.2         0.0   22.574722     222.000000
1742        10.4  18.3         0.0   22.574722     222.000000
1743         6.8   6.0         0.0   22.000000      84.000000
1744         6.8   4.6         0.0   22.000000      84.000000

[1745 rows x 12 columns]

Test_100 Min Max scaled DataFrame:
         stay_id  charttime   calcium  creatinine   glucose    sodium  \
0     30005366.0   0.999053  0.567901    0.384615  0.006849  0.474576
1     30034749.0   0.960173  0.703704    0.035503  0.220890  0.491525
2     30034749.0   0.962828  0.518519    0.035503  0.154110  0.542373
3     30034749.0   0.969339  0.716049    0.035503  0.178082  0.474576
4     30034749.0   0.972179  0.753086    0.029586  0.205479  0.457627
...          ...        ...       ...         ...       ...       ...
1740  39985110.0   0.998528  0.765432    0.390533  0.191781  0.474576
1741  39986206.0   0.996825  0.419753    0.319527  0.143836  0.474576
1742  39986206.0   0.998603  0.407407    0.343195  0.109589  0.474576
1743  39992167.0   0.997294  0.456790    0.041420  0.130137  0.338983
1744  39992167.0   0.998351  0.407407    0.035503  0.169521  0.288136

      chloride  hemoglobin       wbc  icu_intime  vent_start  vent_duration
0     0.492063    0.364286  0.096674         0.0    0.425104       0.010287
1     0.492063    0.421429  0.090437         0.0    0.553126       0.035917
2     0.492063    0.771429  0.059252         0.0    0.553126       0.035917
3     0.444444    0.421429  0.090437         0.0    0.553126       0.035917
4     0.460317    0.421429  0.090437         0.0    0.553126       0.035917
...        ...         ...       ...         ...         ...            ...
1740  0.460317    0.607143  0.106029         0.0    0.808567       0.055102
1741  0.539683    0.421429  0.198545         0.0    0.470800       0.393402
1742  0.539683    0.450000  0.189189         0.0    0.470800       0.393402
1743  0.492063    0.192857  0.061331         0.0    0.458814       0.148634
1744  0.492063    0.192857  0.046778         0.0    0.458814       0.148634

[1745 rows x 12 columns]

In [75]:
train_100_df.to_csv('train_100_df.csv')
train_100_df_scale.to_csv('train_100_df_scale.csv')
test_100_df.to_csv('test_100_df.csv')
test_100_df_scale.to_csv('test_100_df_scaled.csv')

In [ ]:
from ydata_profiling import ProfileReport

profile_train_100_df = ProfileReport(train_100_df, title="train_100_df Profiling Report")
profile_train_100_df.to_notebook_iframe()

In [ ]:
profile_train_100_df.to_file('profile_train_100_df.html')

In [ ]:
profile_train_100_df_scale = ProfileReport(train_100_df_scale, title="train_100_df_scale Profiling Report")
profile_train_100_df_scale.to_notebook_iframe()

In [ ]:
profile_train_100_df_scale.to_file('profile_train_100_df_scale.html')

In [ ]:
profile_test_100_df = ProfileReport(test_100_df, title="test_100_df Profiling Report")
profile_test_100_df.to_notebook_iframe()

In [ ]:
profile_test_100_df.to_file('profile_test_100_df.html')

In [ ]:
profile_test_100_df_scale = ProfileReport(test_100_df_scale, title="test_100_df_scale Profiling Report")
profile_test_100_df_scale.to_notebook_iframe()

In [ ]:
profile_test_100_df_scale.to_file('profile_test_100_df_scale.html')